@{
    ViewData["Title"] = "Productos";
}


<h2>Lista de productos</h2>

<input type="text" id="txtfiltro" placeholder="Nombre" />
<button id="btnBuscar" class="btn btn-primary">Buscar</button>
<button id="createProductoButton" class="btn btn-success">Nuevo</button>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Stock</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="tablaProductos">
    </tbody>
</table>

<!-- Modal-->
<div class="modal fade" id="createProductoModal" tabindex="-1" role="dialog" aria-labelledby="createProductoLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createProductoLabel">Crear Producto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- El contenido del modal se carga aquí -->
                <div>
                    <form id="createProductoForm" role="form">
                        <div class="form-group">
                            <label for="Nombre">Nombre <span class="error">*</span></label>
                            <input type="text" id="txtNombre" name="txtNombre" class="form-control error" />
                        </div>

                        <div class="form-group">
                            <label for="txtPrecio">Precio <span class="error">*</span></label>
                            <input type="text" id="txtPrecio" name="txtPrecio" class="form-control error" />
                        </div>

                        <div class="form-group">
                            <label for="txtStock">Stock <span class="error">*</span></label>
                            <input type="text" id="txtStock" name="txtStock" class="form-control error" />
                        </div>

                        <br />
                    </form>
                </div>
            </div>

            <div class="modal-footer">
                <button type="submit" id="saveProductoButton" class="btn btn-success">Guardar</button>
                <input type="button" value="Cerrar" class="btn btn-secondary" data-bs-dismiss="modal" />
            </div>

        </div>
    </div>
</div>

@section scripts{
<script src="~/js/productos.js"></script>
}